<div  id="login-background" class="  container col-md-12">

	<div class="login-form relativeClass">
 		<div class={{alertStyle}}> 
  			{{alertMsg}}
		</div>
 		<form class=" login box blurred-bg tinted" name="loginForm" method="POST" ng-submit="loginForm.$valid && login(sendAjax)" novalidate>
    		<h2 id="upper-link-one" class="text active"><a ng-href="#/homePage/login"> sign in </a></h2>

  			<h2 id="upper-link-two" class=" text nonactive"><a ng-href="#/homePage/signUp">  sign up </a></h2>
    		<div id="input-holder">
	    		<input type="text" class="text" name="username" placeholder="&nbsp; type username" required minlength="4" maxlength="24" ng-model="user.name">
	    		
	    		<br>
	    
	   			<br>
	  			<input type="password" class="text" name="password" placeholder="&nbsp; type password " required minlength="6" maxlength="24" ng-model="user.password">
	   			
	    		</div>
    		<br>

    		<button class="signin" type="submit">
     				 Sign In
    		</button>
    			
  			  <hr>

    		
  			
  		</form>
	</div>
</div>
<!-- <div ng-if="isLogged">
        you are logged in
    </div>
    <div ng-if="failCount">
        failed attempts {{failCount}}
    </div>
</div> -->