<div id="login-background" class="row  container col-md-12">
	<div class="login-form relativeClass">
 		 <div class={{alertStyle}}> 
  			{{alertMsg}}
		</div>
 			<form class=" login box blurred-bg tinted" id="signUpForm" name="signUpForm" ng-submit="signUpForm.$valid && register(registerUser)" novalidate>
 			
 			
  			<h2 id="upper-link-two" class=" text active"><a ng-href="#/homePage/signUp"> SIGN UP </a></h2>
  			<h2 id="upper-link-one" class="text nonactive"><a ng-href="#/homePage/login"> SIGN IN </a></h2>
    			<input class="input-cointainer text" type="text" ng-model="newUser.name" placeholder="&nbsp; type username" class="text" name="username" required minlength="4" maxlength="24">
    			
    			
    			<!-- <div *ngIf="name.errors && (name.dirty || name.touched)"
			     class="alert alert-danger">
			    <div [hidden]="!name.errors.required">
			      Name is required
			    </div>
			    <div [hidden]="!name.errors.minlength">
			      Name must be at least 4 characters long.
			    </div>
			    <div [hidden]="!name.errors.maxlength">
			      Name cannot be more than 24 characters long.
			    </div>
			    </div>
 -->    
    			<br>
    
    
    
    			<br>
  				<input type="password" class="input-cointainer text" name="password" placeholder="&nbsp; type password " required min-length="6" max-length="24" ng-model="newUser.password">
   				
    			<br>
    			<br>
  				<input type="password" class="input-cointainer text" name="passRepeat" placeholder="&nbsp; repeat password " required min-length="6" max-length="24" ng-model="newUser.passRepeat">
   				
    			<br>
    			<br>
  				<input type="e-mail" class="input-cointainer text" name="e-mail" placeholder="&nbsp; type email " required ng-model="newUser.email">
				
    			<button class="signin" type="submit"  ng-disabled="signUpForm.$invalid || newUser.password != newUser.passRepeat">
     				 Sign Up
    			</button>
    			  <hr>
    			
    			
  		</form>
  		
    		
  		
  			
	</div>
</div>